@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    transition: all 0.3s;
}

.sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    padding-top: 20px;
    transition: width 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
}

.sidebar:hover {
    width: 220px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #e9eef1;
    display: flex;
    align-items: center;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar a .icon {
    font-size: 1.4em;
    min-width: 50px;
    text-align: center;
    margin-right: 10px;
}

.sidebar a:first-child {
    margin-top: 45px;
}

.sidebar a:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

.main-content {
    margin-left: 70px;
    padding: 50px 40px;
    min-height: 100vh;
    background-color: #f5f6fa;
    transition: none;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 1rem;
    gap:5px;
}

.btn button{
    background-color: #34495e;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-salvar button:hover,
.btn-upload-xml button:hover {
    background-color: #2c3e50;
}
.input-group > .input-select{
    width: 100%;
}   

h2 {
    margin-left: 15px;
}

h3 {
    margin: 20px 0 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    gap: 15px;
}

.input-box,
.input-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%; /* Tamanho flexível para os outros campos */
    gap: 8px;
}

.input-group > .input-select,
.input-group > .input-box {
    width: 31%; /* Ajusta o tamanho para os três primeiros campos */
}

.input-group > .input-select {
    width: 30%; /* Ajuste para o campo "Cliente Emissor" */
}

.input-box input,
.input-group select {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    min-width: 100px; /* Define o tamanho mínimo */
}

.input-group .input-select,
.input-group .input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group input,
.input-group select {
    width: 100%; /* Faz com que os campos de input e select usem 100% da largura disponível */
}

label {
    font-size: 0.9rem; /* Diminuído o tamanho da fonte das labels */
}

.div-tabela {
    margin: 0 1rem;
}

#tabela-movimentacoes {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 6px #0000001c;
    border-radius: 10px;
    overflow: hidden;
}

#tabela-movimentacoes thead {
    background-color: #34495e;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

#tabela-movimentacoes th,
#tabela-movimentacoes td {
    padding: 1rem;
}

#tabela-movimentacoes td {
    border-bottom: 1px solid #ccc;
}

#tabela-movimentacoes tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#tabela-movimentacoes tbody tr:nth-child(even) {
    background-color: #ffffff;
}

#tabela-movimentacoes tbody tr:hover {
    background-color: #eeeeee75;
}

.toggle-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
    z-index: 1001;
    color: #2c3e50;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        left: -250px;
        width: 220px;
    }

    .sidebar:hover {
        width: 220px;
    }

    .sidebar:hover a span {
        opacity: 1;
    }

    .main-content {
        margin-left: 0px;
        padding-top: 60px;  /* Modificado de 100px para 20px */
        transition: none;
    }

    .toggle-btn {
        display: block;
        color: #ecf0f1;
        cursor: pointer;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .sidebar.active {
        left: 0;
    }
}
